body {
  height: 28000px;
}

body * {
  margin: 0;
  padding: 0;
}

.background-wrapper {
  height: 5600px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.sky {
  height: 600px;
  width: 100%;
  background: url('Sky.jpg') 0 0/100% no-repeat;
}

.skylight {
  height: 1000px;
  width: 100%;
  background: url('Skylight.jpg') 0 0/100% no-repeat;
  position: relative;
}

.twilight {
  height: 4000px;
  width: 100%;
  background: url('Twilight.jpg') 0 0/100% no-repeat;
}

.locked {
  height: 600px;
  width: 100%;
  background: url('Locked.jpg') 0 0/100% no-repeat;
}

.rock {
  height: 200px;
  padding-top: 100px;
}

.rock > img {
  height: 100%;
}

.custom-scale {
  position: fixed;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  bottom: 0;
  left: 0;
  opacity: 0;
  font-family: "graphie", 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 1px black;
}

.custom-scale.fade-in {
  animation: fade-in ease-in-out 0.3s forwards;
}

.custom-scale.fade-out {
  animation: fade-out ease-in-out 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wave-animation {
  height: 142px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wave-animation::after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #a7cef3;
}

.controls {
  position: fixed;
  top: -73px;
  left: 960px;
}

.controls li {
  height: 124px;
  width: 108px;
  background: #FFFFFF;
  box-shadow: 0px 8px 0px rgba(9, 10, 74, 0.2);
  border-radius: 0px 0 54px 54px;
  margin: 0 19px;
  position: relative;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  top: 0;
}

.controls li p {
  font-family: "graphie", 'Helvetica', 'Arial', 'sans-serif';
  color: #090A4A;
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  width: 67px;
  margin-top: 25px;
}

.controls li:hover {
  top: 60px;
}

.controls li::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.controls li.voice::after {
  background: url('voice-on.svg') 0 0/100% no-repeat;
  height: 33px;
  width: 33px;
}

.controls li.music::after {
  background: url('music-on.svg') 0 0/100% no-repeat;
  height: 37px;
  width: 35px;
}

.controls li.back-to-top::after {
  background: url('arrow.svg') 0 0/100% no-repeat;
  height: 30px;
  width: 35px;
}